/* General styling */
/* Define the fonts like in the CSS of the homepage */
@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow');

body {
    font-family: 'PT Sans', 'Open Sans', 'Arial', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'PT Sans Narrow', 'Arial Narrow', 'Open Sans', sans-serif;
    font-weight: 600;
}

a {
    /*text-decoration: none;*/
    color: #18272F;
    font-weight: 700;
}

.bold {
    font-weight: bold;
}

/* Styling the menu */
/* Container for filters */
.filters-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    /* Space between filters */
    padding: 1rem;
    margin-top: 0.5rem;
    /* Space from the top, adjust as needed */
    background-color: white;
    /* White background of the container */
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: none;
    /* Remove shadow if not needed */
}

/* Style for custom select elements */
.custom-select {
    /* Each select takes equal space */
    flex: 1;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    border: 1px solid #ccc;
    /* Light border for definition */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    font-size: 1rem;
    cursor: pointer;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    /* Prevent text from overlapping with arrow icon */
    padding-right: 2.5em;
}

.custom-input {
    flex: 1;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    /* Adjusted to match other elements */
    border: 1px solid #ccc;
    background-color: white;
    font-size: 1rem;
    /* Typically, the cursor for text input fields */
    cursor: text;
    /* Ensure padding and border are included in the element's total width and height */
    box-sizing: border-box;
}


/* Responsive design adjustments */
@media (max-width: 768px) {
    /* .filters-container {
        flex-direction: column;
        /* Display select elements vertically */
    /* } */

    /* */
    /* .custom-select { */
    /* width: 100%; */
    /* Full width for select elements */
    /* flex-basis: auto; */
    /* Reset base size to auto for full width */
    /* } */

    /* 
    .couple-item {
        flex-direction: column;
        align-items: center;
    }

    .couple-item img.couple-image {
        margin-right: 0;
        margin-bottom: 10px;
    } */
}

/* Style for reset filters button */
.reset-filters-btn {
    align-self: flex;
    padding: 10px 20px;
    margin-left: 1rem;
    /* Space from the last filter element */
    border-radius: 15px;
    border: none;
    background-color: #e54b4b;
    /* Match with filter container */
    color: #ffffff;
    /* Darker text color for better readability */
    cursor: pointer;
    font-size: 1rem;
    display: inline-block;
    /* or 'block' if needed */
}

/* Hover style for reset button */
.reset-filters-btn:hover {
    background-color: #f5f5f5;
    /* Darker color on hover */
    color: black;
}

/* Hide reset button on small screens */
/* @media (max-width: 768px) {
    .reset-filters-btn {
        display: none;
    }
} */

/* Couple styling */

/* General container for the couples */
#couple-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 0.5rem;
    /* Adjust spacing between items as needed */
}

.couple-item {
    display: -webkit-flex;
    display: flex;
    /* Align items vertically center */
    align-items: center;
    /* Add a border for better visibility */
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    /* Add some padding */
    padding: 7px;
    /* Add some margin between items */
    /* margin-bottom: 2px; */
    white-space: nowrap;
    /* Highlight color */
    background-color: #427aa1;
    /* Background color of couple blocks */
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.couple-image {
    display: inline-block;
    /* float: left; */
    vertical-align: top;
    width: 40%;
    border-radius: 10px;
    /* Ensure the image covers the area */
    object-fit: cover;
    /* Maintain aspect ratio */
    height: auto;
    max-width: 200px;
}

.couple-text {
    display: inline-block;
    vertical-align: top;
    padding-left: 5px;
    /* Add some padding for spacing */
    width: 60%;
    white-space: wrap;
}

/* Ensure text takes full width if no image is present */
.couple-item:not(:has(.couple-image)) .couple-text {
    width: 100%;
}

/* Additional styling for couple-names */
.couple-names {
    font-weight: bold;
    font-size: 1.1em;
    /* Space below the names if there are other text elements */
    margin-bottom: 5px;
}

.dance-info-container {
    display: flex;
    flex-direction: column;
}

.dance-info {
    display: flex;
    align-items: center;
}

.dance-info-title {
    width: 45px;
    /* Set a fixed width for alignment */
}

.dance-info-value {
    padding-left: 25px;
    /* Adjust this value for the desired indent */
}

.couple-links {
    margin-top: 2px;
}

.instagram-link a,
.dancesportinfo-link a,
.wdsf-link a {
    text-decoration: none;
    color: #007bff;
}