/* General container for the schedule */
#week-schedule {
    display: flex;
    flex-wrap: wrap;
    /* Allows wrapping of days on smaller screens */
    gap: 2px;
    /* Space between days */
}

/* Container for each day */
.day {
    flex: 1;
    /* Divides available space evenly among days */
    padding: 5px;
    /* Internal padding for day container */
    background-color: #fff;
    /* Background color of day container */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Slight shadow for the container */
    min-width: 200px;
    /* Minimum width of 150px for the container */
    border-radius: 10px;
    /* Rounded corners for the container */
}

/* Header for each weekday */
.week-day {
    margin-top: 0;
    /* Removes top margin of weekday header */
}

/* Style for couple blocks to match course blocks */
.couple-item {
    /* Internal padding for couple blocks */
    padding: 5px;
    /* Highlight color */
    background-color: #427aa1;
    /* Background color of couple blocks */
    color: #ffffff;
    /* Space between couple blocks */
    margin-bottom: 10px;
    /* Rounded corners for couple container */
    border-radius: 10px;
    /* Smooth transition for background color */
    transition: background-color 0.3s ease;
}

/* Highlight style for active/selected items */
.highlight {
    background-color: #427aa1;
    /* Highlight color */
    color: #ffffff;
    /* Darker text color for better readability */
}

/* Bold text style */
.bold {
    font-weight: bold;
}

/* Container for filters */
.filters-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* Space between filters */
    padding: 1rem;
    margin-top: 0.5rem;
    /* Space from the top, adjust as needed */
    background-color: white;
    /* White background of the container */
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: none;
    /* Remove shadow if not needed */
}

/* Style for custom select elements */
.custom-select {
    flex: 1;
    /* Each select takes equal space */
    padding: 0.5rem 1rem;
    border-radius: 15px;
    border: 1px solid #ccc;
    /* Light border for definition */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    font-size: 1rem;
    cursor: pointer;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    padding-right: 2.5em;
    /* Prevent text from overlapping with arrow icon */
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .filters-container {
        flex-direction: column;
        /* Display select elements vertically */
    }

    .custom-select {
        width: 100%;
        /* Full width for select elements */
        flex-basis: auto;
        /* Reset base size to auto for full width */
    }
}

/* Style for reset filters button */
.reset-filters-btn {
    padding: 10px 20px;
    margin-left: 1rem;
    /* Space from the last filter element */
    border-radius: 15px;
    border: none;
    background-color: #e54b4b;
    /* Match with filter container */
    color: #ffffff;
    /* Darker text color for better readability */
    cursor: pointer;
    font-size: 1rem;
    display: inline-block;
    /* or 'block' if needed */
}

/* Hover style for reset button */
.reset-filters-btn:hover {
    background-color: #f5f5f5;
    /* Darker color on hover */
    color: black;
}

/* Hide reset button on small screens */
@media (max-width: 768px) {
    .reset-filters-btn {
        display: none;
    }
}